body {
    font-family: 'Merriweather', serif;

    margin: 0 auto;
    width: 800px;
    background-color: rgb(140, 147, 168);

}
div.test {
    text-align: center;
    background-color: rgba(226, 226, 226, 0.7);

    padding: 100px;
}
h1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 7em;
    letter-spacing: 5px;
    margin: 0;
}
h2{
    font-family: 'Six Caps', sans-serif;
    font-size: 4em;
    letter-spacing: 5px;
    margin: 50px 0 10px;
    font-weight: lighter;

    border: 1px solid black;

}
p {
    font-size: 1.2em;
}

#quote {
    font-size: 3em;
    margin: 0;
}
.correct {
    background-color: #2bf25d;
}
.wrong {
    background-color: #F22B2B;
}